<template name="login">
    <h2>Login</h2>
    <form class="login">
        <p>Email:
        <div class="form-group material-input-block">
            <input type="email" name="email" class="form-control material-input" required>
            <span class="material-input-block__line"></span>
        </div>
        </p>
        <p>Password:
        <div class="form-group material-input-block">
            <input type="password" name="password" class="form-control material-input" required>
            <span class="material-input-block__line"></span>
        </div>
        </p>
        <button type="submit" class="btn btn-raised btn-primary add-todo">Login</button>
    </form>
</template>